.card {
	padding: 80px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}
	

#content {
	.dark {
		background-color: var(--medium-gray);
		color: white;
	}
}

.footer {
	display: block;
}

