.card {
	padding: 80px;
	text-align: center;
	
}

#content {
	.dark {
		background-color: var(--medium-gray);
		color: white;
	}
}

.chefImage {
	width: 250px;
	margin-top: 40px;
	border-radius: 10px;
}

