:root {
	--dark-gray: black;
	--medium-gray: gray;
	--light-gray: lightgray;
}

* {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	height: 100%
}

body {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100%;
}


.sidebar {
	display: flex;
	padding-top: 50px;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	position: sticky;
	top: 0;
	justify-content: flex-start;
	gap: 40px;
	background-color: var(--dark-gray);
	
}

.sidebar nav {
	display: flex;
	flex-direction: column;
	position: sticky;
	width: 100%;
	gap: 20px;
	button {
		font-size: 1.4em;
		padding: 20px;
		background-color: var(--light-gray);
		border: none;
		border-right: 10px solid var(--dark-gray);
		border-left: 10px solid var(--dark-gray);
	}
	button:hover {
		cursor: pointer;
		border-right: none;
		background-color: white;
		transform: scale(1.02);
	}
	button.current {
		border-right: none;
		background-color: white;
	}
}	

.sidebarLogo {
	width: 125px;
	filter: brightness(0) saturate(100%) invert(100%) 
					sepia(0%) saturate(7477%) hue-rotate(332deg) 
					brightness(99%) contrast(102%);
	border: none;
}

.card {
	padding: 80px;
	text-align: center;
	
}

#content {
	.dark {
		background-color: var(--medium-gray);
		color: white;
	}
}

.chefImage {
	width: 250px;
	margin-top: 40px;
	border-radius: 10px;
}

.secondCard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	div {
		margin: 40px;
		
	}
	img {
		width: 300px;
		height: 300px;
		object-fit: cover;
		border-radius: 15px;
	}
	img:hover {
		transform: scale(1.05);
	}
}

div.footer {
	padding: 20px;
}
