* {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}


body {
	display: grid;
	grid-template-columns: 1fr 2fr;
}



.sidebar{
	padding: 20px;
}

.sidebarLogo {
	width: 100px;
}


